# check the window size after each command and, if necessary,
# update the values of LINES and COLUMNS.
#

# set cursor red
#--------------------------------------------------
# echo -e "\e]12;red\a"
#--------------------------------------------------
echo -en "\x1b[\x35 q" # changes to blinking vertical bar
#-------------------------------------------------- echo -en "\x1b[\x36 q" # changes to steady vertical bar
#--------------------------------------------------

DISABLE_AUTO_TITLE=true
export WORDCHARS='*?_[]~=&;.-!#$%^(){}'
bindkey -M vicmd "gg" vi-first-non-blank

# from http://stratus3d.com/blog/2017/10/26/better-vi-mode-in-zshell/ {
    # Better searching in command mode
    bindkey -M vicmd '?' history-incremental-search-backward
    bindkey -M vicmd '/' history-incremental-search-forward

    # Beginning search with arrow keys
    bindkey "^[OA" up-line-or-beginning-search
    bindkey "^[OB" down-line-or-beginning-search
    bindkey -M vicmd "k" up-line-or-beginning-search
    bindkey -M vicmd "j" down-line-or-beginning-search

    # Make Vi mode transitions faster (KEYTIMEOUT is in hundredths of a second)
    export KEYTIMEOUT=1

    #--------------------------------------------------
    # function vi_mode_prompt_info() {
    #   echo "${${KEYMAP/vicmd/[% NORMAL]%}/(main|viins)/[% INSERT]%}"
    # }
    #--------------------------------------------------

    # define right prompt, regardless of whether the theme defined it
    #--------------------------------------------------
    # RPS1='$(vi_mode_prompt_info)'
    # RPS2=$RPS1
    #--------------------------------------------------

    TRAPWINCH() {
      zle && { zle reset-prompt; zle -R }
    }

# }

# Updates editor information when the keymap changes.
#--------------------------------------------------
# function zle-keymap-select() {
#   zle reset-prompt
#   zle -R
# }
# zle -N zle-keymap-select
#--------------------------------------------------


[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh
source /usr/share/fzf/key-bindings.zsh
source /usr/share/fzf/completion.zsh


# restore default cursor shape after quit nvim
### Activate vi / vim mode:
bindkey -v
# Remove delay when entering normal mode (vi)
KEYTIMEOUT=5
# Change cursor shape for different vi modes.
function zle-keymap-select {
  if [[ $KEYMAP == vicmd ]] || [[ $1 = 'block' ]]; then
    echo -ne '\e[1 q'
  elif [[ $KEYMAP == main ]] || [[ $KEYMAP == viins ]] || [[ $KEYMAP = '' ]] || [[ $1 = 'beam' ]]; then
    echo -ne '\e[5 q'
  fi
}
zle -N zle-keymap-select
# Start with beam shape cursor on zsh startup and after every command.
zle-line-init() { zle-keymap-select 'beam'}
export MARKER_KEY_GET='\C-u'
export MARKER_KEY_MARK='\C-k'
export MARKER_KEY_NEXT_PLACEHOLDER='\C-t'
